
header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
.container { 
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.style{
	font-size: 1.4em;
	vertical-align:	middle;
    padding-top: 10px;
    display: inline-block;
}
#mensagem{
    margin-top: 10px;
}
#imprimir{
   margin-top: 10px; 
}
.teste{
    margin-top: 50px;
}